.Side_ber
  .Side_ber__user
    .user-name
      .top-itmes
        .itmes-name
          = current_user.name
        .itmes-icons
          .icons
            = link_to "#" , class: "icons-btn" do
              = icon('fas', 'edit')
            = link_to edit_user_path(current_user) , class: "icons-btn" do
              = icon('fas', 'cog')
  .Side_ber__groups_list
    .group-list
      .group-name
        techcamp
      .last-message
        まだメッセージがありません
    .group-list
      .group-name
        techcamp
      .last-message
        まだメッセージがありません
    .group-list
      .group-name
        techcamp
      .last-message
        まだメッセージがありません